
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@547&family=Stack+Sans+Text:wght@200..700&display=swap');

.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 18px;
    justify-content: center;
    padding-bottom: 37px;
}

.section-one-text-div{
    margin: 0;
    padding-top: 45px;
}

.Section-1-img{
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0px 20px 50px rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.5);
}
.section-one-text-div{
    padding-top: 65px;
}

.section-one-text{
    color: rgba(255, 255, 255, 0);
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 800;
    font-size: 29px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(135deg, rgb(0, 72, 255) 0%, #505e75 100%);    background-clip: text;
}
.section-one-text-two{
    background-image: linear-gradient(135deg, rgb(0, 72, 255) 0%, #505e75 100%);    background-clip: text;
    font-weight: 200;
    font-size: 18px;
    color: rgba(255, 255, 255, 0);
    text-align: center;
}

.section-one-btn{
    font-family: "Stack Sans Text", sans-serif;
    color: white;
    background-color: rgb(24, 90, 255);
    border: none;
    padding: 5px 40px 5px 40px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    border: 3px solid rgb(24, 90, 255);
    transition: 0.2s ease-in-out;
    margin-bottom: 20px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);

}
.section-one-btn:hover{
    color: rgb(0, 72, 255);
    background-color: rgba(66, 66, 66, 0.112);
    border: 3px solid rgb(0, 72, 255);
}
.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 18px;
    justify-content: center;
    padding-bottom: 37px;
    margin-top: 80px;
}

.section-two-text-div{
    margin: 0;
    padding-top: 50px;
}
.section-two-text{
    color: rgba(255, 255, 255, 0);
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 800;
    font-size: 29px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(135deg, rgb(0, 72, 255) 0%, #505e75 100%);    background-clip: text;
}
.sec2-imgdiv{
    margin-top: 40px;
}
.sect2-img{
    height: 200px;
    border-radius: 12px;
}
.choose-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 10px;
}
.choose{
    background-color: #8c8c8c55;
    padding: 10px 130px 10px 130px;
    border-radius: 6px;
    font-family: "Stack Sans Text", sans-serif;
    cursor: pointer;
}
.section-two-btn{
    font-family: "Stack Sans Text", sans-serif;
    color: rgb(0, 72, 255);
    background-color: rgba(66, 66, 66, 0.112);
    border: 3px solid rgb(0, 72, 255);
    padding: 7px 40px 7px 40px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    margin: 50px;
    transition: 0.2s ease-in-out;
}
.section-two-btn:hover{
    color: white;
    background-color: rgb(0, 72, 255);
    border: 3px solid rgb(0, 72, 255);
}

.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 18px;
    justify-content: center;
    padding-bottom: 37px;
    margin-top: 70px;
}
.section3-img-div{
    margin-top: 40px;
}
.section-3-img{
    height: 370px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.section3-text-div{
    margin: 0;
    padding-top: 30px;
}
.section3-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.section-3-header{
    color: rgba(255, 255, 255, 0);
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 800;
    font-size: 29px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(135deg, rgb(0, 72, 255) 0%, #505e75 100%);    background-clip: text;
}
.section-3-para {
    font-family: "Stack Sans Text", sans-serif;
    color: rgb(167, 167, 167);
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    margin-top: 17px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
}
.section3-btn{
    font-family: "Stack Sans Text", sans-serif;
    color: white;
    background-color: rgb(0, 72, 255);
    border: none;
    padding: 5px 40px 5px 40px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border: 3px solid rgb(0, 72, 255);
    transition: 0.2s ease-in-out;
    margin-top: 35px;
    margin-bottom: 10px;
}
.section3-btn:hover{
    color: rgb(0, 72, 255);
    background-color: rgba(66, 66, 66, 0.112);
    border: 3px solid rgb(0, 72, 255);
}

footer {
    display: flex;
    flex-direction: column;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    justify-content: center;
    margin-top: 70px;
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 35px;
    padding-top: 20px;
}

.links-div{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.106);
    padding-top: 20px;
    border-radius: 18px;
    background-color: #ffffff;
    font-size: 15px;
    margin-bottom: 15px;
    align-items: start;
}
.links-div a{
    color: rgb(167, 167, 167);
    text-decoration: none;
}
.links-div a:hover{
    text-decoration: underline;
}
.copy-div{
    padding-bottom: 10px;
    padding-top: 5px;
    color: rgb(167, 167, 167);
    margin-top: 15px;
    font-size: 15px;
}
