
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@547&family=Stack+Sans+Text:wght@200..700&display=swap');

.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgba(40, 40, 40, 0.34);
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 18px;
    justify-content: center;
    padding-bottom: 37px;
    margin-top: 5px;
}

.section-one-text-div{
    margin: 0;
    padding-top: 45px;
}

.Section-1-img{
    height: 415px;
    margin-top: 12px;
    box-shadow: 0px 20px 50px rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.5);
}

.section-one-text{
    color: rgba(255, 255, 255, 0);
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #8ba4cb 100%);    background-clip: text;
}

.section-one-btn{
    font-family: "Stack Sans Text", sans-serif;
    color: white;
    background-color: rgb(0, 72, 255);
    border: none;
    padding: 5px 40px 5px 40px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(0, 72, 255);
    transition: 0.2s ease-in-out;
    margin-top: 10px;
}
.section-one-btn:hover{
    color: rgb(0, 72, 255);
    background-color: rgba(66, 66, 66, 0.112);
    border: 3px solid rgb(0, 72, 255);
}
.section-two{
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two-text-div{
    margin: 0;
    padding-top: 50px;
}
.section-two-text{
    color: rgba(255, 255, 255, 0);
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #9aaecf 100%);    background-clip: text;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 25px 30px 25px;
    margin-top: 40px;
    background-color: rgba(40, 40, 40, 0.34);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.08);

}

.right-side{
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    border-right: 1px solid rgba(138, 138, 138, 0.274);
    padding-right: 40px;
}
.card-icon{
    width: 45px;
    margin-bottom: 10px;
}
.card-icon2{
    width: 45px;
    margin-bottom: 10px;
    padding-left: 4px;
}
.card-icon3{
    width: 45px;
    margin-bottom: 10px;
    padding-left: 1px;
}
.right-side-text{
    color: white;
    font-family: "Stack Sans Text", sans-serif;
    font-size: 13px;
    font-weight: 300;
    white-space: nowrap;
}
.left-side{
    margin-left: 30px;
}
.state-name{
    color: white;
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 400;
    font-size: 19px;
    padding-bottom: 10px;
}
.state-message{
    font-family: "Stack Sans Text", sans-serif;
    color: rgb(167, 167, 167);
    font-weight: 200;
    font-size: 13px;
}

.section-two-btn{
    font-family: "Stack Sans Text", sans-serif;
    color: rgb(0, 72, 255);
    background-color: rgba(66, 66, 66, 0.112);
    border: 3px solid rgb(0, 72, 255);
    padding: 7px 40px 7px 40px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    margin: 50px;
    transition: 0.2s ease-in-out;
}
.section-two-btn:hover{
    color: white;
    background-color: rgb(0, 72, 255);
    border: 3px solid rgb(0, 72, 255);
}

.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgba(40, 40, 40, 0.34);
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 18px;
    justify-content: center;
    padding-bottom: 30px;
    margin-top: 5px;
}
.section3-img-div{
    margin-top: 40px;
}
.section-3-img{
    height: 370px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.section3-text-div{
    margin: 0;
    padding-top: 30px;
}
.section3-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.section-3-header{
    color: rgba(255, 255, 255, 0);
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #9aaecf 100%);    background-clip: text;
}

.section-3-para {
    font-family: "Stack Sans Text", sans-serif;
    color: rgb(167, 167, 167);
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    margin-top: 12px;
}
.section3-btn{
    font-family: "Stack Sans Text", sans-serif;
    color: white;
    background-color: rgb(0, 72, 255);
    border: none;
    padding: 5px 40px 5px 40px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(0, 72, 255);
    transition: 0.2s ease-in-out;
    margin-top: 35px;
    margin-bottom: 10px;
}
.section3-btn:hover{
    color: rgb(0, 72, 255);
    background-color: rgba(66, 66, 66, 0.112);
    border: 3px solid rgb(0, 72, 255);
}

footer {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 70px;
}

.links-div{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.106);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 18px;
    background-color: #00000061;
    font-size: 15px;
    margin-bottom: 15px;
}
.links-div a{
    color: rgba(128, 128, 128, 0.311);
    text-decoration: none;
}
.links-div a:hover{
    text-decoration: underline;
}
.copy-div{
    border-top: 1px solid rgba(128, 128, 128, 0.106);
    padding-bottom: 10px;
    padding-top: 5px;
    color: rgba(128, 128, 128, 0.311);
    margin-top: 15px;
    font-size: 15px;
}