body{
  text-align: center;
  font-family: "Stack Sans Text", sans-serif;
  background-color: rgb(237, 237, 237);

}
h1 {
    color: rgba(255, 255, 255, 0);
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 800;
    font-size: 29px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(135deg, rgb(0, 72, 255) 0%, #505e75 100%);    background-clip: text;
    margin-top: 15px;
    margin-bottom: 15px;
  }
#question-container { 
  position: relative; 
  width: 300px; 
  height: 300px; 
  margin: 0 auto;
 }
 #question-number{
  font-size: 13px;
  color: #2f2f2f;
  font-family: "Stack Sans Text", sans-serif;
 }
 #correct-count{
  font-size: 13px;
  color: #2f2f2f;
  font-family: "Stack Sans Text", sans-serif;
 }
#question-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#question-img { 
  width: 200px; 
  align-items: center;
  justify-content: center;
  object-fit: cover; 
  display: none; 
  border-radius: 5px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.213);
}
#loading-text { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); font-size: 18px; 
}

.btn-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.btn-one { 
  font-family: "Stack Sans Text", sans-serif;
  font-weight: 300;
  padding: 4px 15px 4px 15px; 
  margin: 4px 10px 4px 10px; 
  cursor: pointer; 
  font-size: 15px; 
  border-radius: 3px;
  border: none;
  background-color: rgb(0, 94, 255);
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.29);

}
.btn-two { 
  font-family: "Stack Sans Text", sans-serif;
  font-weight: 300;
  padding: 4px 15px 4px 15px; 
  margin: 4px 10px 4px 10px; 
  cursor: pointer; 
  font-size: 15px; 
  border-radius: 3px;
  border: none;
  background-color: rgb(255, 0, 4);
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.29);

}
.btn{ 
  font-family: "Stack Sans Text", sans-serif;
  font-weight: 300;
  padding: 4px 10px 4px 10px; 
  margin: 4px 10px 4px 10px; 
  cursor: pointer; 
  font-size: 15px; 
  border-radius: 3px;
  border: none;
  background-color: rgb(0, 94, 255);
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.29);

}


#answer { 
  margin-top: 20px; 
  font-size: 20px; 
  font-family: "Stack Sans Text", sans-serif;
  
}
#answer .name { 
  font-weight: bold; 
  font-size: 17px; 
  margin-top: 15px;
}
#answer .info { 
  font-weight: normal; 
  font-size: 12px; 
  margin-top: 5px; 
  margin-bottom: 10px;
}
#next-btn { 
  display: none; 
}
#counters { 
  margin: 10px; 
  font-size: 16px; 
}



footer {
    display: flex;
    flex-direction: column;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    justify-content: center;
    margin-top: 250px;
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 35px;
    padding-top: 20px;

}

.links-div{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.106);
    padding-top: 20px;
    border-radius: 18px;
    background-color: #ffffff;
    font-size: 15px;
    margin-bottom: 15px;
    align-items: start;
}
.links-div a{
    color: rgb(167, 167, 167);
    text-decoration: none;
}
.links-div a:hover{
    text-decoration: underline;
}
.copy-div{
    padding-bottom: 10px;
    padding-top: 5px;
    color: rgb(167, 167, 167);
    margin-top: 15px;
    font-size: 15px;
}
